body {
    font-family: 'Open Sans';
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.c1 {
    padding: 4px;
    margin-left: 121px;
    width: fit-content;
    background: #F2DEDE;
    border-radius: 4px;
    color: #A94442;
    font-size: 14px;
    border: 1px solid #EBcCCC;
}