body {
  font-family: 'Open Sans';
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,input[type=number] {
-webkit-appearance: none;
margin: 0;
-moz-appearance: textfield;
}
input[type=checkbox]{
width: 10px;
filter: opacity(0.5);
}
.s2{
font-size: 13px;
}
.c1 {
  padding: 4px;
  margin-left: 28px;
  width: fit-content;
  background: #F2DEDE;
  border-radius: 4px;
  color: #A94442;
  font-size: 14px;
  border: 1px solid #EBcCCC;
}
select{
  background-color: #E6E6E6 ;
  border: 1px solid #CCCCCC;
  width: 133px;
  border-radius: 4px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.758);
}